*{
    padding: 0%;
    margin: 0%;
}
body{
    text-align: center;
    background-repeat: no-repeat;    
    padding-bottom: 5rem;
    background-image:linear-gradient(yellow,yellow,floralwhite,yellow);    
    
    
}

h1{
    font-size:250%;
    font-style:oblique;
    display:block;
    padding:2rem;
    color:rgb(136, 85, 27);
    background-image: repeating-linear-gradient(red,yellow);    
};



.container {  
    padding-top: 1rem;
    padding-bottom: 4rem;

}

label{
    font-size:x-large;
    display: block;
    padding-top: 2rem;
}

input{
    width: 15rem;
    height: 4vh;
    align-items: center;
   
}

button{
    
    margin:1rem;
    width: 10rem;
    height: 4vh;
    background-color:lightgoldenrodyellow;
    border-radius: .4rem;
    border:double;
    font-weight: bolder;
}

#output-box{
    display: block;
    padding: 2rem;
    font-weight: bold;
}

footer{
    
    background-image: linear-gradient( #fef08a,yellow,red) ;   
    position:absolute;
    bottom: 0%;
    left: 0%;
    right:0%;
}

footer p{
    padding: 1rem;
}

.list-item-inline{
    display:inline-table;   
    height:40px;
    width: 40px;
    padding: 1rem;
   

}